<div class="col-md-3 col-sm-6">
<% render partial: "author", locals: {author: @author} %>
<%= render @author %>
</div>

  <%= simple_format @author.bio %>

  <%= link_to "Edit Author", edit_author_path(@author), class: "btn btn-primary" %>
