<h1>Welcome to CheesUs, <%= @author.name %></h1>

<p>
  We think you are really going to enjoy contributing to our cheese blog. Feel free to rant or rave about any new cheese you try!
</p>

<p>
  You can visit us anytime at <%= link_to "Our site", root_url %>.
</p>
